.App {
  text-align: center;
}

*{
  background-color: whitesmoke;
}

.search-bar{
  width: 40%;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: rgb(246, 206, 206);
}

.cards{ 
  flex-wrap: wrap;
  align-items: center;
}

.card{
  width: 33%;
  height: 40%;
  background-color: peachpuff;
  margin-block: 30px;
  margin-inline: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.flex{
  display: flex;
  justify-content: center;
}

.card-text{
  background-color: rgb(217, 146, 146)}